h1{
    text-align: center;
    padding:15px;
}
h2{
    float:right;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    padding:0px;
    margin: 0px;
    
}
#one{
    background-color: rgb(143, 190, 143);

}
#two{
    background-color: rgb(192, 141, 192);
}
#three{
    background-color: rgb(250, 68, 68);
}
section{
    
    box-sizing:border-box;
    float:left;
    background-color: rgb(56, 198, 223);
    border-style: solid;
    border-color: black;
    margin:2px;
    
}  
p{
    clear: right;
}


@media only screen and (min-width:768px) and (max-width:991px){
    .s1{
      width:49%;
    }
    .s2{
        width:49%;
    }
    .s3{
        width:98.5%;
    }
}
@media only screen and (min-width:992px){
    .s1{
        width:33%;
    }
    .s2{
        width:33%;
    }
    .s3{
        width:33%;
    }
}

